/* 
    light variables
*/
:root {
    --btn-padding: 0.5rem 1rem;
    --btn-cursor: pointer;
    --btn-border: 1px solid #ccc;
    --btn-border-radius: 4px;
    --btn-background-color: #f5f5f5;
}

.btn {
    padding: var(--btn-padding);
    cursor: var(--btn-cursor);
    border: var(--btn-border);
    border-radius: var(--btn-border-radius);
    background-color: var(--btn-background-color);
}
.btn:hover {
    background-color: var(--btn-hover-background-color);
}
@media (prefers-color-scheme: dark) {
    :root {
        --btn-background-color: #333;
        --btn-border: 1px solid #666;
        --btn-hover-background-color: #444;
    }
}